<h1>Admin::Dashboard#show</h1>

<div>There are a total of <%= @product_count %> products</div>
<div><%= link_to 'Product admin page', [:admin, :products] %></div>
<br>
<div>There are a total of <%= @category_count %> categories</div>
<div><%= link_to 'Category admin page', [:admin, :products] %></div> #[:categories]